
<% include ../shared/header %>

    <!--================-->
    <div class="main">
        <div class="side">
            <h2>我的</h2>
            <ul class="menu">
                <li>
                    <em class="t20"></em><a href="#">我的信息</a>
                </li>
                <li>
                    <em class="t23 "></em><a href="tasklist">我发布的任务</a>
                </li>
            </ul>
            <h2>任务</h2>
            <ul class="menu">
                <li>
                    <em class="t7"></em><a href="upload">发布任务</a>
                </li>
            </ul>
            <h2>账户</h2>
            <ul class="menu">
                <li>
                    <em class="t7"></em><a href="shopcharge">充值</a>
                </li>
            </ul>
        </div>



  <div class="content monitor">
  <table class="table table-striped">
	 <% if(success){%>
    <span>删除成功</span>
    <%}%>
	<thead>
		<tr>
			<th>编号</th>
            
			<th>路径</th>
            <th>店名</th>		
            <th>更新时间</th>
			<th>创建者</th>
            <th></th>
		</tr>
	</thead>
	<tbody>
    <% tasks.forEach(function (task, index) { %>
		<tr>
			<td><%= index+1%></td>            
			<td><a href="<%= task.urlpath%>" target="_blank"><%= task.urlpath%></a></td>
            <td><%= task.shopname%></td>
	
            <td><%= task.modifytime%></td>
            <td><%= task.creator%></td>
            <td>
            <label><a href="upload?id=<%= task._id%>"><strong>编辑</strong></a></label>
            <label><a href="del?id=<%= task._id%>"><strong>删除</strong></a></label>
            </td>
		</tr>
		<%})%>
	
    <% if(tasks.length<1){ %>
      <tr>
       <td colspan="7"> 无记录</td> 
      </tr>
	<%}%>  
    
</tbody>
</table>

  <% include ../shared/pager %>
  </div>

  </div>
<% include ../shared/footer %>