
<% include ../shared/header %>

    <!--================-->
    <div class="main">
        <div class="side">
            <h2>我的</h2>
            <ul class="menu">
                <li>
                    <em class="t20"></em><a href="#">我的信息</a>
                </li>
                <li>
                    <em class="t23 "></em><a href="tasklist">我发布的任务</a>
                </li>
            </ul>
            <h2>任务</h2>
            <ul class="menu">
                <li>
                    <em class="t7"></em><a href="upload">发布任务</a>
                </li>
            </ul>
            <h2>账户</h2>
            <ul class="menu">
                <li>
                    <em class="t7"></em><a href="shopcharge">充值</a>
                </li>
            </ul>
        </div>



  <div class="content monitor">

    <form role="form" method="post">
    <%if(task){%>
        <input type="hidden" name="_id" id="_id" value=<%=task._id%> />
     <%}%>

    <div class="form-group">
        <label for="shopname">Shop Name:</label>

        <%if(task){%>
        <input type="text" required="" class="form-control" name="shopname" id="shopname" value=<%=task.shopname%> placeholder="please intput shop name here"/>
        <%} else{%>
                <input type="text" required="" class="form-control" name="shopname" id="shopname" placeholder="please intput shop name here"/>
        <%}%>
    </div>
    <div class="form-group">
        <label for="urlpath">Url Path:</label>
         <%if(task){%>
        <input type="text" required="" class="form-control" name="urlpath"  id="urlpath" value=<%=task.urlpath%> placeholder="please intput url path here"/>
     <%} else{%>
             <input type="text" required="" class="form-control" name="urlpath"  id="urlpath" placeholder="please intput url path here"/>
<%}%>
    </div>
    <div class="form-group">
        <label for="completetime">Complete Time:</label>
         <%if(task){%>
        <input type="text" required="" class="form-control" name="completetime" id="completetime" value=<%=task.completetime%> placeholder="please intput complete time here"/>
    <%} else{%>
            <input type="text" required="" class="form-control" name="completetime" id="completetime" placeholder="please intput complete time here"/>
<%}%>
    </div>
  

<div class="form-group">
    <label for="inputfile">文件输入:</label>
    <input type="file" name="file"  id="inputfile" />
    <p class="help-block">help comment...</p>
  </div>
<div class="form-group">
    <label for="inputfile">Comment:</label>
     <%if(task){%>
    <textarea  id="comment" name="comment" rows="4" cols="50" placeholder="please insert commnet here for this upload!"><%=task.comment%></textarea>
   <%} else{%>
      <textarea  id="comment" name="comment" rows="4" cols="50" placeholder="please insert commnet here for this upload!"></textarea>
<%}%>
  </div>
    <button type="submit" class="btn btn-default">提交</button>
    <% if(success){%>
    <span>提交成功</span>
    <%}%>
    </form>

                   

        
        
        
        
        
        </div>
    </div>
<% include ../shared/footer %>